<td>&nbsp;</td>
<td><input type="text" name="name" class="form-control" /></td>
<td><input type="text" name="surname" class="form-control" /></td>
<td><input type="text" name="age" class="form-control" /></td>
<td><button class="btn btn-default pull-right" id="cancelBtn">Cancel</button> <button class="btn btn-primary pull-right" id="saveBtn">Save</button></td>